[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-cors-headers = "*"
django-filter = "*"
Pillow = "*"
social-auth-app-django = "*"
django-smtp-ssl = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
httpx = "*"

[requires]
python_version = "3.11"
